<local configs = require 'nvim_lsp/configs'
local util = require 'nvim_lsp/util'

local server_name = "html"
local bin_name = "html-languageserver"

local installer = util.npm_installer {
  server_name = server_name;
  packages = { "vscode-html-languageserver-bin" };
  binaries = {bin_name};
}

local root_pattern = util.root_pattern("package.json")

configs[server_name] = {
  default_config = util.utf8_config {
    cmd = {bin_name, "--stdio"};
    filetypes = {"html"};
    root_dir = function(fname)
      return root_pattern(fname) or vim.loop.os_homedir()
    end;
    settings = {};
    init_options = {
      embeddedLanguages = { css= true, javascript= true },
      configurationSection = { 'html', 'css', 'javascript' },
    }

  };
  on_new_config = function(new_config)
    local install_info = installer.info()
    if install_info.is_installed then
      if type(new_config.cmd) == 'table' then
        -- Try to preserve any additional args from upstream changes.
        new_config.cmd[1] = install_info.binaries[bin_name]
      else
        new_config.cmd = {install_info.binaries[bin_name]}
      end
    end
  end;
  docs = {
    description = [[
https://github.com/vscode-langservers/vscode-html-languageserver-bin

`html-languageserver` can be installed via `:LspInstall html` or by yourself with `npm`:
```sh
npm install -g vscode-html-languageserver-bin
```
]];
  };
}

configs[server_name].install = installer.install
configs[server_name].install_info = installer.info
-- vim:et ts=2 sw=2!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap" rel="stylesheet">
<script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <title>Daniel Gayón Seguí</title>
</head>
<body>
    <div class="nav">
        <button hx-get="home.html" hx-target="#response-div" hx-swap="innerHTML swap:1s" class="button">HOME</button>
        <button hx-get="about.html" hx-target="#response-div" hx-swap="innerHTML swap:1s" class="button">ABOUT</button>
        <button hx-get="test.html" hx-target="#response-div" hx-swap="innerHTML swap:1s" class="button">TEST</button>
        <div class="button filler"></div>
    </div>
    <div id="response-div" class="fade-out">
        <div class="content">
            <h1 class="title slide">Home</h1>
            <div class="info fade-in-1s-delay">
                <p>
                Welcome to my page
                </p>
            </div>
        </div>
    </div>
</body>
</html>
