:root {
    --dark-color: #000014;
    --light-color: #fafafa;
    --accent-color: #e0ac1e;

}

html {
    background: var(--dark-color);
    font-family: 'Inclusive Sans', sans-serif;
    color: var(--light-color);

}

.title{
    margin: auto;
}

a {
    color: var(--light-color);
    transition: color 1s;
}

a:hover {
    color: var(--accent-color);
}

.button {
    width: 50px;
    height: 25px;
    padding: 0 5px;
    border-radius: 5px;
    background-color: var(--accent-color);
    transition: background-color 1s;
}

.button:hover {
    background-color: var(--light-color);
}